/* DONATIONS */

.donations {
  font-family: 'Dangrek', cursive;
  text-align: center;
  display: block;
  flex-wrap: wrap;
}

.donations h1, h2 {
  font-size: 40px;
}

.donations>h1:hover, h2:hover {
  color: aliceblue;
  text-transform: uppercase;
}

.donation-header {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  border: 1px solid rgb(82, 77, 77);
  border-radius: 10px;
  margin: 20px;
  padding: 15px 50px 15px 50px;
}

.donation-img {
  margin-top: 20px;
}

.donation-img img {
  width: 98%;
}

.donation-header img {
  margin: 15px;
}

.donation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-card {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  border: 1px solid rgb(82, 77, 77);
  border-radius: 10px;
  margin: 25px;
  width: 300px;
  height: 525px;
}

.list-card:hover {
  box-shadow: 3px 8px 16px 3px rgba(200, 193, 193, 0.735);
}

.list-card img {
  width: 260px;
}

.title {
  font-size: 25px;
  font-family: Dangrek, cursive;
}

.title:hover {
  color: aliceblue;
  text-transform: uppercase;
}

.location {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.office {
  margin: 10px;
  font-size: 25px;
}

.office p:hover {
  color: aliceblue;
  text-transform: uppercase;
}