/* HOME */

/* .carousel-inner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  height: 600px;
  width: 400px;
  bottom: auto;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  padding-top: 25px;
} */

.home {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-header h1 {
  font-family: 'Dangrek', cursive;
  text-align: center;
  font-size: 40px;
  margin: 40px auto 5px auto;
}

.home-header h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 40px;
}

.header-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
}

.single-event {
  font-family: 'Poppins', sans-serif;
  color: white;
  border: 1px solid rgb(82, 77, 77);
  margin: 15px;
  width: 375px;
  height: 750px;
  border-radius: 10px;
}

.single-event:hover {
  box-shadow: 3px 8px 16px 3px rgba(200, 193, 193, 0.735);
}

.home-image {
  margin-top: 5px;
  width: 350px;
  height: 300px;
}

.title h4 {
  font-size: 30px;
  margin: 20px auto;
  margin-bottom: 30px;
}

ul {
  font-size: 18px;
  font-weight: 700;
  list-style-type: circle;
  list-style-position: inside;
}

li {
  margin: 10px;
}

.event-detail {
  margin-top: 50px;
}



