/* MISSION */

.mission {
  font-family: 'Dangrek', cursive;
  font-size: 20px;
  text-align: center;
  margin: 35px;
}

.mission img {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

.mission-img img {
  height: 400px;
  width: 400px;
  display: inline-block;
  margin: 10px;
}

.m-hero {
  width: 98%;
}

.mission-section {
  border: 1px solid rgb(82, 77, 77);
  border-radius: 10px;
  margin: 25px;
}

.mission-section p {
  font-family: Poppins, sans-serif;
  font-size: 20px;
}

.mission-section h1:hover, h2:hover {
  color: aliceblue;
  text-transform: uppercase;
}

.mission-section a {
  display: inline-block;
  margin: 0px 10px;
}