.admin img {
  height: 300px;
}
.add-form {
  display: grid;
  width: 450px;
  height: 600px;
  margin: 10px auto 50px auto;
  border: 1px solid rgb(82, 77, 77);
  border-radius: 10px;
  justify-content: center;
  background-color: #00183aab;
}

.add-form input {
  width: 200px;
  margin: 0px;
}

.add-form button {
  width: 100px;
  justify-self: center;
}