 @import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Just+Another+Hand&display=swap');
 @import './styles/header.css';
 @import './styles/home.css';
 @import './styles/events.css';
 @import './styles/mission.css';
 @import './styles/donations.css';
 @import './styles/footer.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  }

  body {
    background-image: linear-gradient(
    #2278fb,
    #2278fb,
    #2278fb,
    #2278fb,
    #3785fb,
    #68deda,
    #6bdfdb,
    #6bdfdb
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(82, 77, 77);
    scroll-behavior: smooth;
  }

  a:link, a:visited {
    text-decoration: none;
    color: rgb(82, 77, 77);
  }

  

